@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}


<h2>Register a new user</h2>
<hr /><br /><br />
<form method="post" asp-action="Register" asp-controller="Account" enctype="multipart/form-data">
   
    <label for="email">Email: </label>
    <input type="text" id="email" required name="email" />

    @*<label for="passwordconfirm">Confirm Password: </label>
        <input type="password" id="passwordconfirm" required name="passwordconfirm" />*@
    <input type="submit" value="Join Email Newsletter" />
</form>